.button-main:hover{
    animation: scalado 2s linear infinite;
}

@keyframes scalado {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.container-mehera{ 
    display: flex;
    height: 100vh;
    width: 100vw; 
    align-items: center;
    justify-Content: center;
}

.container-box-funcionalidades{
    margin-top: 5vw;
    margin-left: 15vw;
    display: flex;
    position:relative;
    align-items: center;
    justify-content: center;
}

.container-box-butttons-funcionalidades{
    border: 1rem solid rgb(152, 76, 182);
    border-radius: 3%;
    display: flex;
    flex-wrap:wrap;
    background:'#BDBEC3';
    width:65vw;
}