:root{
    --color-horario-1: rgb(7, 172, 255);
    --color-horario-2: rgb(255, 55, 0);
    --color-horario-3: rgb(43, 255, 0);
    --color-horario-4: rgb(28, 88, 255);
    --color-horario-5: #a270f9;
    --color-horario-6: white;
    --fondo-descripcion-horario: white;
    --color-text-tabla:black;
}
#description-content-horario{
    color: var(--color-text-tabla);
}
#item-horario-0>*{
    color:var(--color-text-tabla);
}
/*
1-> Ocupada
2-> Seleccionada
3-> Encima
4-> TextDescripcion
5-> unlock 
6-> Fondo rgb(116, 116, 222)
*/

.horario-container{
    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.descp-item-horario{
    display: none;
}
#root-horario{
    
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
   
}
.item-horario{
    width: calc(12.5% - 2px);
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--color-horario-6);
    color:var(--color-text-tabla);
}
.unlock-item:hover{
    background-color: var(--color-horario-4);
}
.descp-item-horario{
    position: absolute;
    
    width: 100px;
}
.horas-item{
    width: 10%;
}
.actividad-description{
    max-width: 650px;
    
   
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}
#description-content-horario{
    background-color: var(--color-horario-3);
    text-align: center;
    min-width: 150px;
    height: 100%;
    overflow: none;
    padding: 4px;
    
}
@media (max-width:1100px){
    .actividad-description{
        min-width: 400px;
    }
    .horario-container{
        flex-direction: column;
    }
    .actividad-description{
        position: absolute;
        bottom: 30px;
        margin-left: 40px;
        margin-right: 40px;
    }
}
@media (min-width:1500px){
    #root-horario{
        max-width: 800px;
    }
}
.lock-item{
    background-color: var(--color-horario-5);
    color: white;
    border-color: black;
}
.item-horario-ocupado{
    background-color: var(--color-horario-1);
}
.itemp-editando{
    background-color: blueviolet;
}
