* {
    box-sizing: border-box;
  }
  
  /* Create two unequal columns that floats next to each other */
  .column {
    margin-top: 10%;
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .right {
    width: 35%;
    height: 65px;
    overflow: visible;
}
  
  .left {
    width: 65%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.Titulo{
    color:rgb(31, 55, 109);
    text-transform: uppercase;
    font-weight:bold;
    width:100%;
    font-size: 10vw;
    text-align:center;
}

.container-phrases {
    color:#999;
    text-align:center;
    text-transform: uppercase;
    font-size:2vw;
    font-weight:bold;
    width:100%;
    display:block;
  }  

.flip {
    height:3vw;
    overflow:hidden;
  }

.flip > div > div {
    color:#fff;
    padding:0.8vw 1vh;
    height:4vw;
    margin-bottom:0.8vw;
    display:inline-block;
  }
  
.flip div:first-child {
    animation: show 5s linear infinite;
  }
  
.flip div div {
    background:#42c58a;
  }

.flip div:first-child div {
    background:#4ec7f3;
  }

.flip div:last-child div {
    background:#DC143C;
  }
  
  @keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
  }
  