.Pregunta_Titulo{
    position:'absolute';
    color:rgb(23, 64, 4);
    height: 100%;
    text-align: center;
    font-size: 2em;
    font-weight: 'bold';
    display: flex;
    justify-content: center;
    align-items: center;
}

.Opciones{
    position:'absolute';
    text-align: center;
    font-size: 2em;
    font-weight: 'bold';
    display: flex;
    justify-content: center;
    align-items: center;
}



.container-showResult{
    z-index: 2;
    height:70vh;
    width:40%;
    padding:2%;
    position:relative;
    text-align: center;
    border-radius: 5%;
    justify-content: center;
    background-color:aquamarine;
}

.text-result{
    z-index: 4;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    overflow-x: hidden;
    width:80%;
    height:40vh;

    overflow-y: scroll; 
}

.img-result{
    z-index:2;
    position: absolute;
    width:80%;
    align-items: center;
    height:40vh;
    
    align-items: center;
    border-radius: 5%;

}

.text-result::-webkit-scrollbar {
    width: 0;  
    background: transparent; 
}

.Botton-voler-inicio{
    top:70%;
    z-index: 3;
    left: -1rem;
    position: relative;
    justify-content: center;
    text-align: center;
    width:40%;
    height:15%;
}

.Botton-voler-intentar-again{
    top: 70%;
    z-index: 3;
    left: 1rem;
    position: relative;
    justify-content: center;
    text-align: center;
    width:40%;
    height:15%;
}


