.ayuda-vacia-contenido{
    display: flex;
    flex-direction: column;
    background-color: white;
    border: solid 4px black;
    border-radius: 10px;
    padding:5px 10px;
    position: relative;
}
@media (max-width:1100px){
    .ayuda-vacia-contenido{
        position: absolute;
    }
}
.ayuda-vacia-descripcion{
    font-size: 1.8em;
    font-weight: 900;
    text-align: center;
}
.img-ayuda-vacia{
    width: 180px;
    height: 100%;
}
.descripcion-vacia-contentido{
    display: flex;
}
.content-center-ayuda{
    display: flex;
    justify-content: center;
    
}
.ayuda-null{
    padding: 4px;
}