.config-horario{
    position: absolute;
    margin-left: 10%;
    max-width: 800px;
    min-width: 500px;
    z-index: 100;
}
@media (max-width:600px) {
    .config-horario{
        min-width: 100%;
    }
}
.mostrar-tema{
    width: 100%;
    display: grid;
    
    grid-template-columns: repeat(5,1fr);
}
.item-tema{
    background-color: red;
    margin: 5px;
}
.item-temp{
    background-color: var(--color-horario-2);
}
#descrip-tema-0{
    background-color: var(--color-horario-1);
}
#descrip-tema-1{
    background-color: var(--color-horario-2);
}
#descrip-tema-2{
    background-color: var(--color-horario-3);
}
#descrip-tema-3{
    background-color: var(--color-horario-4);
}
#descrip-tema-4{
    background-color: var(--color-horario-5);
}
