body{
    overflow: hidden;
}
.ctn-mensajes-completos{
    position: absolute;
    background-color: rgb(180, 28, 164);
    bottom: 20px;
    right: 10px;
    animation-name: animation-mensaje;
    animation-duration: 0.5s;
    text-align: center;
    width: 350px;
    display: flex;
    
}
.close-mensaje{
    color:white;
    
}
.img-mensaje{
    height: 100px;
    
}
.content-mensaje{
    flex-grow: 1;
    width: 100%;
}
@keyframes animation-mensaje{
    from{
        right: -100%;
    }
    to{
        right: 10px;
    }
}