.container-box{
    display: flex;
    justify-content: center;
    position: relative;
    background-color:rgb(255, 255, 255);
    box-shadow:  0 0 8px 8px rgba(0, 0,0 , 0.6);
    height: 28rem;
    width:30rem;
    align-items: center;
    flex-wrap: wrap;
}