.text_column{
    margin-top: 10%;
    float: left;
    padding: 10px;
    height: 300px;
}

.fila:after{
    content: "";
    display: table;
    clear: both;
}
.izq{
    width: 35%;
    height: 65px;
    overflow: visible;
}

.der{
    width: 65%;
}